@import "tailwindcss";

@theme {
  --color-grass: #6aa84fff;
  --color-lightgrass: #93c47dff;
  --color-sky-blue: #B9D6E8;
  --font-luckiest: "Luckiest Guy", "cursive";
  --font-joti: "Joti One", "serif";
}

@layer utilities {
  @keyframes pulse-white {

    0%,
    100% {
      filter: brightness(1);
    }

    50% {
      filter: brightness(1.3);
    }
  }

  .animate-pulse-white {
    animation: pulse-white 2s infinite;
  }
}