@import "tailwindcss";

@theme {
  --color-sky-blue: #B9D6E8;
  --font-luckiest: "Luckiest Guy", "cursive";
  --font-joti: "Joti One", "serif";
  --font-nunito: "Nunito", "sans-serif";
}

/* Add this to set Nunito globally */
@layer base {
  html {
    font-family: var(--font-nunito);
  }
}

@layer utilities {
  @keyframes pulse-white {

    0%,
    100% {
      filter: brightness(1);
    }

    50% {
      filter: brightness(1.3);
    }
  }

  .animate-pulse-white {
    animation: pulse-white 2s infinite;
  }
}

@layer utilities {
  .shine-button {
    position: relative;
    overflow: hidden;
  }

  .shine-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 60%;
    height: 100%;
    background: linear-gradient(120deg,
        transparent 0%,
        rgba(255, 255, 255, 0.4) 50%,
        transparent 100%);
    transform: skewX(-20deg);
    animation: shine 3s ease-in-out infinite;
    pointer-events: none;
  }

  @keyframes shine {
    0% {
      left: -100%;
    }

    50% {
      left: 130%;
    }

    100% {
      left: 130%;
    }
  }
}