@import "tailwindcss";

@theme {
  --color-sky-blue: #B9D6E8;
  --font-luckiest: "Luckiest Guy", "cursive";
  --font-joti: "Joti One", "serif";
  --font-nunito: "Nunito", "sans-serif";
}

/* Add this to set Nunito globally */
@layer base {
  html {
    font-family: var(--font-nunito);
  }
}

@layer utilities {
  @keyframes pulse-white {

    0%,
    100% {
      filter: brightness(1);
    }

    50% {
      filter: brightness(1.3);
    }
  }

  .animate-pulse-white {
    animation: pulse-white 2s infinite;
  }
}